### Bibliotecas

In [138]:
import pandas as pd
import numpy as np
%matplotlib inline

## DataFrame e Série

In [139]:
path = "C:/Users/alber/OneDrive/Documentos/ESTUDOS/PYTHON PARA EXCEL/5.Analise de Dados com pandas/course_participants.xlsx"
pd.read_excel(path)

   user_id   name  age  country  score continent
0     1001   Mark   55    Italy    4.5    Europe
1     1000   John   33      USA    6.7   America
2     1002    Tim   41      USA    3.9   America
3     1003  Jenny   12  Germany    9.0    Europe

In [140]:
data = [["Mark",    55,     "Italy",    4.5,    "Europe"],
        ["John",    33,     "USA",      6.7,    "America"],
        ["Tim",     42,     "USA",      3.9,    "America"],
        ["Jenny",   12,     "Germany",  9.0,    "Europe"]]

df = pd.DataFrame(data= data,
                  columns= ["name",
                            "age",
                            "country",
                            "score",
                            "continent"],
                  index=   [1001, 
                            1000, 
                            1002, 
                            1003])

df

       name  age  country  score continent
1001   Mark   55    Italy    4.5    Europe
1000   John   33      USA    6.7   America
1002    Tim   42      USA    3.9   America
1003  Jenny   12  Germany    9.0    Europe

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 1001 to 1003
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   age        4 non-null      int64
 2   country    4 non-null      object
 3   score      4 non-null      float64
 4   continent  4 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 192.0+ bytes

In [142]:
df.dtypes

name          object
age            int64
country       object
score        float64
continent     object
dtype: object

### Índice

In [143]:
df.index

Index([1001, 1000, 1002, 1003], dtype='int64')

In [144]:
df.index.name = "user_id"
df

          name  age  country  score continent
user_id
1001      Mark   55    Italy    4.5    Europe
1000      John   33      USA    6.7   America
1002       Tim   42      USA    3.9   America
1003     Jenny   12  Germany    9.0    Europe

In [145]:
"""
    reset_index" transforma o índice em uma coluna, substituindo o 
índice pelo indice padrão. Isso corresponde ao DataFrame do início 
que carregamos do Excel.
"""
df.reset_index()

   user_id   name  age  country  score continent
0     1001   Mark   55    Italy    4.5    Europe
1     1000   John   33      USA    6.7   America
2     1002    Tim   42      USA    3.9   America
3     1003  Jenny   12  Germany    9.0    Europe

In [146]:
"""
    "reset_index" transforma "user_id" em uma coluna comum e 
"set_index" transforma o "nome" da coluna em índice
"""
df.reset_index().set_index("name")

       user_id  age  country  score continent
name
Mark      1001   55    Italy    4.5    Europe
John      1000   33      USA    6.7   America
Tim       1002   42      USA    3.9   America
Jenny     1003   12  Germany    9.0    Europe

In [147]:
# Alterando o índice
df.reindex([999,
            1000,
            1001, 
            1002])

         name   age country  score continent
user_id
999       NaN   NaN     NaN    NaN       NaN
1000     John  33.0     USA    6.7   America
1001     Mark  55.0   Italy    4.5    Europe
1002      Tim  42.0     USA    3.9   America

In [148]:
# Classificando um item
df.sort_index()

          name  age  country  score continent
user_id
1000      John   33      USA    6.7   America
1001      Mark   55    Italy    4.5    Europe
1002       Tim   42      USA    3.9   America
1003     Jenny   12  Germany    9.0    Europe

In [149]:
# Classificando por mais de uma coluna
df.sort_values(["continent", "age"])

          name  age  country  score continent
user_id
1000      John   33      USA    6.7   America
1002       Tim   42      USA    3.9   America
1003     Jenny   12  Germany    9.0    Europe
1001      Mark   55    Italy    4.5    Europe

### Colunas

In [150]:
df.columns

Index(['name', 'age', 'country', 'score', 'continent'], dtype='object')

In [151]:
df.columns.name = "properties"
df

properties   name  age  country  score continent
user_id
1001         Mark   55    Italy    4.5    Europe
1000         John   33      USA    6.7   America
1002          Tim   42      USA    3.9   America
1003        Jenny   12  Germany    9.0    Europe

In [152]:
df.rename(columns= {"name"  : "First Name",
                    "age"   : "Age"})

properties First Name  Age  country  score continent
user_id
1001             Mark   55    Italy    4.5    Europe
1000             John   33      USA    6.7   America
1002              Tim   42      USA    3.9   America
1003            Jenny   12  Germany    9.0    Europe

In [153]:
df.drop(columns = ["name", "country"],
        index   = [1000, 1003])

properties  age  score continent
user_id
1001         55    4.5    Europe
1002         42    3.9   America

In [154]:
df.T # Atalho para df.transpose()

user_id       1001     1000     1002     1003
properties
name          Mark     John      Tim    Jenny
age             55       33       42       12
country      Italy      USA      USA  Germany
score          4.5      6.7      3.9      9.0
continent   Europe  America  America   Europe

In [155]:
# Reodernando as colunas do DataFrame
df.loc[:, ["continent", "country", "name", "age", "score"]]

properties continent  country   name  age  score
user_id
1001          Europe    Italy   Mark   55    4.5
1000         America      USA   John   33    6.7
1002         America      USA    Tim   42    3.9
1003          Europe  Germany  Jenny   12    9.0

### Manipulação de Dados

#### Selecionando Dados por rótulos

In [156]:
# Valor único (Escalar)
df.loc[1000, "country"]

'USA'

In [157]:
# Uma coluna 1d (Série)
df.loc[:, "country"]

user_id
1001      Italy
1000        USA
1002        USA
1003    Germany
Name: country, dtype: object

In [158]:
# Uma coluna 2d (DataFrame)
df.loc[:, ["country"]]

properties  country
user_id
1001          Italy
1000            USA
1002            USA
1003        Germany

In [159]:
# Varias colunas (DataFrame)
df.loc[:, ["country", "age"]]

properties  country  age
user_id
1001          Italy   55
1000            USA   33
1002            USA   42
1003        Germany   12

In [160]:
# Intervalo de colunas (DataFrame)
df.loc[:, "name" : "country"]

properties   name  age  country
user_id
1001         Mark   55    Italy
1000         John   33      USA
1002          Tim   42      USA
1003        Jenny   12  Germany

In [161]:
# Uma linha 1d (Série)
df.loc[1000, :]

properties
name            John
age               33
country          USA
score            6.7
continent    America
Name: 1000, dtype: object

In [162]:
# Uma linha 2d (DataFrame)
df.loc[[1000], :]

properties  name  age country  score continent
user_id
1000        John   33     USA    6.7   America

In [163]:
# Várias linhas (DataFrame)
df.loc[[1003, 1000], :]

properties   name  age  country  score continent
user_id
1003        Jenny   12  Germany    9.0    Europe
1000         John   33      USA    6.7   America

In [164]:
# Intervalo de linhas (DataFrame)
df.loc[1000 : 1002, :]

properties  name  age country  score continent
user_id
1000        John   33     USA    6.7   America
1002         Tim   42     USA    3.9   America

In [165]:
# O fatiamento de Rótulos tem Intervalos Fechados

# Usar escalares para seleção de linha e coluna retorna um escalar
df.loc[1001, "name"]

'Mark'

In [166]:
# Usar um escalar na seleção de linha ou coluna retorna uma série
df.loc[[1001, 1002], "age"]

user_id
1001    55
1002    42
Name: age, dtype: int64

In [167]:
# Selecionar várias linhas e várias colunas retorna um DataFrame
df.loc[:1002, ["name", "country"]]

properties  name country
user_id
1001        Mark   Italy
1000        John     USA
1002         Tim     USA

#### Selecionando dados por posição

In [168]:
# Valor único (Escalar)
df.iloc[1, 2]

'USA'

In [169]:
# Uma coluna 1d (Série)
df.iloc[:, 2]

user_id
1001      Italy
1000        USA
1002        USA
1003    Germany
Name: country, dtype: object

In [170]:
# Uma coluna 2d (DataFrame)
df.iloc[:, [2]]

properties  country
user_id
1001          Italy
1000            USA
1002            USA
1003        Germany

In [171]:
# Várias colunas (DataFrame)
df.iloc[:, [2, 1]]

properties  country  age
user_id
1001          Italy   55
1000            USA   33
1002            USA   42
1003        Germany   12

In [172]:
# Intervalo de colunas (DataFrame)
df.iloc[:, :3]

properties   name  age  country
user_id
1001         Mark   55    Italy
1000         John   33      USA
1002          Tim   42      USA
1003        Jenny   12  Germany

In [173]:
# Uma linha 1d (Série)
df.iloc[1, :]

properties
name            John
age               33
country          USA
score            6.7
continent    America
Name: 1000, dtype: object

In [174]:
# Uma linha 2d (DataFrame)
df.iloc[[1], :]

properties  name  age country  score continent
user_id
1000        John   33     USA    6.7   America

In [175]:
# Várias linhas (DataFrame)
df.iloc[[3, 1], :]

properties   name  age  country  score continent
user_id
1003        Jenny   12  Germany    9.0    Europe
1000         John   33      USA    6.7   America

In [176]:
# Intervalo de colunas (DataFrame)
df.iloc[1:3, :]

properties  name  age country  score continent
user_id
1000        John   33     USA    6.7   America
1002         Tim   42     USA    3.9   America

In [177]:
df.iloc[0, 0] # Retorna um escalar

'Mark'

In [178]:
df.iloc[[0, 2], 1] # Retorna uma Série

user_id
1001    55
1002    42
Name: age, dtype: int64

In [179]:
df.iloc[:3, [0, 2]] # Retorna um DataFrame

properties  name country
user_id
1001        Mark   Italy
1000        John     USA
1002         Tim     USA

#### Selecionando por indexação booleana

In [180]:
# Criando uma Série com apenas True/False
tf = (df["age"] > 40) & (df["country"] == "USA")
tf

user_id
1001    False
1000    False
1002     True
1003    False
dtype: bool

In [181]:
df.loc[tf, :]

properties name  age country  score continent
user_id
1002        Tim   42     USA    3.9   America

In [182]:
df.loc[df.index > 1001, :]

properties   name  age  country  score continent
user_id
1002          Tim   42      USA    3.9   America
1003        Jenny   12  Germany    9.0    Europe

In [183]:
# Filtrando meu DataFrame para participantes da Itália e da Alemanha
df.loc[df["country"].isin(["Italy", "Germany"]), :]

properties   name  age  country  score continent
user_id
1001         Mark   55    Italy    4.5    Europe
1003        Jenny   12  Germany    9.0    Europe

In [184]:
rainfall = pd.DataFrame(data=
                        {"City 1" : [300.1, 100.2],
                         "City 2" : [400.3, 300.4],
                         "City 3" : [1000.5, 1100.6]})

rainfall

   City 1  City 2  City 3
0   300.1   400.3  1000.5
1   100.2   300.4  1100.6

In [185]:
rainfall < 400

   City 1  City 2  City 3
0    True   False   False
1    True    True   False

In [186]:
rainfall[rainfall < 400]

   City 1  City 2  City 3
0   300.1     NaN     NaN
1   100.2   300.4     NaN

#### Selecionando com um MultiIndex

In [187]:
# Um MultiIndex precisa ser ordenado
df_multi = df.reset_index().set_index(["continent", "country"])
df_multi = df_multi.sort_index()
df_multi

properties         user_id   name  age  score
continent country
America   USA         1000   John   33    6.7
          USA         1002    Tim   42    3.9
Europe    Germany     1003  Jenny   12    9.0
          Italy       1001   Mark   55    4.5

In [188]:
df_multi.loc["Europe", :]

properties  user_id   name  age  score
country
Germany        1003  Jenny   12    9.0
Italy          1001   Mark   55    4.5

In [189]:
df_multi.loc[("Europe", "Italy"), :]

properties         user_id  name  age  score
continent country
Europe    Italy       1001  Mark   55    4.5

In [190]:
df_multi.reset_index(level= 0) # Level= 0 é a primeira coluna da esquerda

properties continent  user_id   name  age  score
country
USA          America     1000   John   33    6.7
USA          America     1002    Tim   42    3.9
Germany       Europe     1003  Jenny   12    9.0
Italy         Europe     1001   Mark   55    4.5

### Definindo Dados

#### Definindo dados por rótulo ou posição

In [191]:
# Copie o DataFrame primeiro para deixar o original intocado
df2 = df.copy()
df2.loc[1000, "name"] == "JOHN"
df2

properties   name  age  country  score continent
user_id
1001         Mark   55    Italy    4.5    Europe
1000         John   33      USA    6.7   America
1002          Tim   42      USA    3.9   America
1003        Jenny   12  Germany    9.0    Europe

In [192]:
df2.loc[[1000, 1001], "score"] = [3, 4]
df2

properties   name  age  country  score continent
user_id
1001         Mark   55    Italy    4.0    Europe
1000         John   33      USA    3.0   America
1002          Tim   42      USA    3.9   America
1003        Jenny   12  Germany    9.0    Europe

#### Definindo dados por indexação booleana

In [193]:
tf = (df2["age"] < 20) | (df2["country"] == "USA")
df2.loc[tf, "name"] = "xxx"
df2

properties  name  age  country  score continent
user_id
1001        Mark   55    Italy    4.0    Europe
1000         xxx   33      USA    3.0   America
1002         xxx   42      USA    3.9   America
1003         xxx   12  Germany    9.0    Europe

In [194]:
# Copie o DataFrame primeiro para deixar o original intocado
rainfall2 = rainfall.copy()
rainfall2

   City 1  City 2  City 3
0   300.1   400.3  1000.5
1   100.2   300.4  1100.6

In [195]:
# Defina os valores para 0 sempre que estiverem abaixo de 400
rainfall2[rainfall2 < 400] = 0
rainfall2

   City 1  City 2  City 3
0     0.0   400.3  1000.5
1     0.0     0.0  1100.6

#### Definindo dados por substituição de valores

In [196]:
df2.replace("USA", "U.S.")

properties  name  age  country  score continent
user_id
1001        Mark   55    Italy    4.0    Europe
1000         xxx   33     U.S.    3.0   America
1002         xxx   42     U.S.    3.9   America
1003         xxx   12  Germany    9.0    Europe

In [197]:
df2.replace(
    {"country" : {"USA" : "U.S."}}
)

properties  name  age  country  score continent
user_id
1001        Mark   55    Italy    4.0    Europe
1000         xxx   33     U.S.    3.0   America
1002         xxx   42     U.S.    3.9   America
1003         xxx   12  Germany    9.0    Europe

#### Definindo dados adicionando uma nova coluna

In [198]:
df2.loc[:, "discount"] = 0
df2.loc[:, "price"] = [49.9, 49.9, 99.9, 99.9]
df2

properties  name  age  country  score continent  discount  price
user_id
1001        Mark   55    Italy    4.0    Europe         0   49.9
1000         xxx   33      USA    3.0   America         0   49.9
1002         xxx   42      USA    3.9   America         0   99.9
1003         xxx   12  Germany    9.0    Europe         0   99.9

In [199]:
df2 = df.copy() # Cópia nova
df2.loc[:, "birth year"] = 2021 - df2["age"]
df2

properties   name  age  country  score continent  birth year
user_id
1001         Mark   55    Italy    4.5    Europe        1966
1000         John   33      USA    6.7   America        1988
1002          Tim   42      USA    3.9   America        1979
1003        Jenny   12  Germany    9.0    Europe        2009

#### Dados Ausentes

In [200]:
df2 = df.copy() # Cópia nova
df2.loc[1000, "score"] = None
df2.loc[1003, :] = None
df2

properties  name   age country  score continent
user_id
1001        Mark  55.0   Italy    4.5    Europe
1000        John  33.0     USA    NaN   America
1002         Tim  42.0     USA    3.9   America
1003        None   NaN    None    NaN      None

In [201]:
# Removendo as linhas com dados auxentes
df2.dropna()

properties  name   age country  score continent
user_id
1001        Mark  55.0   Italy    4.5    Europe
1002         Tim  42.0     USA    3.9   America

In [202]:
# Removendo dados auxentes expecificando somente a linha vazia
df2.dropna(how= "all")

properties  name   age country  score continent
user_id
1001        Mark  55.0   Italy    4.5    Europe
1000        John  33.0     USA    NaN   America
1002         Tim  42.0     USA    3.9   America

In [203]:
# Recebendo uma Série Booleana para valores NaN
df2.isna()

properties   name    age  country  score  continent
user_id
1001        False  False    False  False      False
1000        False  False    False   True      False
1002        False  False    False  False      False
1003         True   True     True   True       True

In [204]:
# Preenchendo valores auxentes
df2.fillna(
    {"score" : df2["score"].mean()}
)

properties  name   age country  score continent
user_id
1001        Mark  55.0   Italy    4.5    Europe
1000        John  33.0     USA    4.2   America
1002         Tim  42.0     USA    3.9   America
1003        None   NaN    None    4.2      None

#### Dados Duplicados

In [205]:
df.drop_duplicates(["country", "continent"])

properties   name  age  country  score continent
user_id
1001         Mark   55    Italy    4.5    Europe
1000         John   33      USA    6.7   America
1003        Jenny   12  Germany    9.0    Europe

In [206]:
# Descobrindo se determinada coluna contém duplicatas ou obte seus valores exclusivos
print(df["country"].is_unique)
print(df["country"].unique)

False
<bound method Series.unique of user_id
1001      Italy
1000        USA
1002        USA
1003    Germany
Name: country, dtype: object>

In [207]:
# Saber quais linhas são duplicadas
df["country"].duplicated()

user_id
1001    False
1000    False
1002     True
1003    False
Name: country, dtype: bool

In [208]:
# Para obter todas as linhas em que "country" está duplicado
df.loc[df["country"].duplicated(keep= False), :]

properties  name  age country  score continent
user_id
1000        John   33     USA    6.7   America
1002         Tim   42     USA    3.9   America

#### Operações Aritméticas

In [209]:
rainfall

   City 1  City 2  City 3
0   300.1   400.3  1000.5
1   100.2   300.4  1100.6

In [210]:
rainfall + 100

   City 1  City 2  City 3
0   400.1   500.3  1100.5
1   200.2   400.4  1200.6

In [211]:
more_rainfall = pd.DataFrame(data=[[100, 200],
                                   [300, 400]],
                             index= [1, 2],
                             columns= ["City 1", "City 4"])

more_rainfall

   City 1  City 4
1     100     200
2     300     400

In [212]:
rainfall + more_rainfall

   City 1  City 2  City 3  City 4
0     NaN     NaN     NaN     NaN
1   200.2     NaN     NaN     NaN
2     NaN     NaN     NaN     NaN

In [213]:
# Transformando células vázias em zeros para realizar operações aritméticas
rainfall.add(more_rainfall, fill_value= 0)

   City 1  City 2  City 3  City 4
0   300.1   400.3  1000.5     NaN
1   200.2   300.4  1100.6   200.0
2   300.0     NaN     NaN   400.0

In [214]:
# Uma série tirada de uma linha
rainfall.loc[1, :]

City 1     100.2
City 2     300.4
City 3    1100.6
Name: 1, dtype: float64

In [215]:
rainfall + rainfall.loc[1, :]

   City 1  City 2  City 3
0   400.3   700.7  2101.1
1   200.4   600.8  2201.2

In [216]:
# Uma série tirada de uma coluna
rainfall.loc[:, "City 2"]

0    400.3
1    300.4
Name: City 2, dtype: float64

In [217]:
rainfall.add(rainfall.loc[:, "City 2"], axis= 0)

   City 1  City 2  City 3
0   700.4   800.6  1400.8
1   400.6   600.8  1401.0

#### Trabalhando com Colunas de Texto

In [218]:
# Criação de um novo DataFrame
users = pd.DataFrame(data= ["mArk", "JOHN", "    Tim", "jenny"],
                     columns= ["name"])

users

      name
0     mArk
1     JOHN
2      Tim
3    jenny

In [219]:
users_cleaned = users.loc[:, "name"].str.strip().str.capitalize()
users_cleaned

0     Mark
1     John
2      Tim
3    Jenny
Name: name, dtype: object

In [220]:
# Encontrando todos os números que começam com "J"
users_cleaned.str.startswith("J")

0    False
1     True
2    False
3     True
Name: name, dtype: bool

#### Aplicando uma Função

In [221]:
rainfall

   City 1  City 2  City 3
0   300.1   400.3  1000.5
1   100.2   300.4  1100.6

In [222]:
def format_string(x):
    return f"{x:,.2f}"

In [223]:
rainfall.map(format_string)

   City 1  City 2    City 3
0  300.10  400.30  1,000.50
1  100.20  300.40  1,100.60

In [224]:
# Usando "Expressões Lambda"
rainfall.map(lambda x: f"{x:,.2f}")

   City 1  City 2    City 3
0  300.10  400.30  1,000.50
1  100.20  300.40  1,100.60

### Combinando DataFrames

#### Concatenando

In [225]:
data = [[15, "France", 4.1, "Becky"],
        [44, "Canada", 6.1, "Leanne"]]

In [226]:
more_users = pd.DataFrame(data= data,
                          columns= ["age", "country", "score", "name"],
                          index= [1000, 1011])

more_users

      age country  score    name
1000   15  France    4.1   Becky
1011   44  Canada    6.1  Leanne

In [227]:
pd.concat([df, more_users], axis= 0)

        name  age  country  score continent
1001    Mark   55    Italy    4.5    Europe
1000    John   33      USA    6.7   America
1002     Tim   42      USA    3.9   America
1003   Jenny   12  Germany    9.0    Europe
1000   Becky   15   France    4.1       NaN
1011  Leanne   44   Canada    6.1       NaN

In [228]:
data = [[3, 4],
        [5, 6]]

more_categories = pd.DataFrame(data= data,
                               columns= ["quizzes", "logins"],
                               index= [1000, 2000])

more_categories

      quizzes  logins
1000        3       4
2000        5       6

In [229]:
pd.concat([df, more_categories], axis= 1)

       name   age  country  score continent  quizzes  logins
1001   Mark  55.0    Italy    4.5    Europe      NaN     NaN
1000   John  33.0      USA    6.7   America      3.0     4.0
1002    Tim  42.0      USA    3.9   America      NaN     NaN
1003  Jenny  12.0  Germany    9.0    Europe      NaN     NaN
2000    NaN   NaN      NaN    NaN       NaN      5.0     6.0

#### Join e Merge

In [230]:
df1 = pd.DataFrame(data=[[1, 2],
                         [3, 4],
                         [5, 6]],
                   columns= ["A", "B"])

df1

   A  B
0  1  2
1  3  4
2  5  6

In [231]:
df2 = pd.DataFrame(data=[[10, 20],
                         [30, 40]],
                   columns= ["C", "D"],
                   index= [1, 3])

df2

    C   D
1  10  20
3  30  40

In [232]:
# inner = Somente linhas cujo índice existe em ambos os DataFrames
df1.join(df2, how= "inner")

   A  B   C   D
1  3  4  10  20

In [233]:
# left = Todas as linhas do lado esquerdo, linhas correspondentes do DataFrame direito
df1.join(df2, how= "left")

   A  B     C     D
0  1  2   NaN   NaN
1  3  4  10.0  20.0
2  5  6   NaN   NaN

In [234]:
# right = Todas as linhas do DataFrame direito, linhas correspondentes do DataFrame esquerdo
df1.join(df2, how= "right")

     A    B   C   D
1  3.0  4.0  10  20
3  NaN  NaN  30  40

In [235]:
# outer = A união dos índices de linha de ambos os DataFrames
df1.join(df2, how= "outer")

     A    B     C     D
0  1.0  2.0   NaN   NaN
1  3.0  4.0  10.0  20.0
2  5.0  6.0   NaN   NaN
3  NaN  NaN  30.0  40.0

In [236]:
# Se você deseja reunir uma ou mais colunas DataFrame em vez de depender do índice, use "merge".
# As colunas devem existir em ambos os DataFrames.

df1["category"] = ["a", "b", "c"]
df2["category"] = ["c", "b"]

In [237]:
df1

   A  B category
0  1  2        a
1  3  4        b
2  5  6        c

In [238]:
df2

    C   D category
1  10  20        c
3  30  40        b

In [239]:
df1.merge(df2, how= "inner", on= ["category"])

   A  B category   C   D
0  3  4        b  30  40
1  5  6        c  10  20

In [240]:
df1.merge(df2, how= "left", on= ["category"])

   A  B category     C     D
0  1  2        a   NaN   NaN
1  3  4        b  30.0  40.0
2  5  6        c  10.0  20.0

### Estatística Descritiva e Agregação de Dados

#### Estatística Descritiva

In [241]:
rainfall

   City 1  City 2  City 3
0   300.1   400.3  1000.5
1   100.2   300.4  1100.6

In [242]:
# Obtendo a Média
rainfall.mean()

City 1     200.15
City 2     350.35
City 3    1050.55
dtype: float64

In [243]:
# Obtendo a Média por cada linha
rainfall.mean(axis= 1)

0    566.966667
1    500.400000
dtype: float64

#### Agrupando

In [244]:
df

properties   name  age  country  score continent
user_id
1001         Mark   55    Italy    4.5    Europe
1000         John   33      USA    6.7   America
1002          Tim   42      USA    3.9   America
1003        Jenny   12  Germany    9.0    Europe

In [245]:
df.groupby(["continent", "country"]).min()

properties          name  age  score
continent country
America   USA       John   33    3.9
Europe    Germany  Jenny   12    9.0
          Italy     Mark   55    4.5

In [246]:
df.loc[:, ["age", "score", "continent"]].groupby(["continent"]).agg(lambda x: x.max() - x.min())

properties  age  score
continent
America       9    2.8
Europe       43    4.5

#### Pivot e Melt

In [247]:
data = [
    ["Oranges", "North", 12.30],
    ["Apples",  "South", 10.55],
    ["Oranges", "South", 22.00],
    ["Bananas", "South", 05.90],
    ["Bananas", "North", 31.30],
    ["Oranges", "North", 13.10]
    ]

In [248]:
sales = pd.DataFrame(data= data,
                     columns= ["Fruit", "Region", "Revenue"])

sales

     Fruit Region  Revenue
0  Oranges  North    12.30
1   Apples  South    10.55
2  Oranges  South    22.00
3  Bananas  South     5.90
4  Bananas  North    31.30
5  Oranges  North    13.10

In [249]:
pivot = pd.pivot_table(sales,
                       index= "Fruit", columns= "Region",
                       values= "Revenue",
                       aggfunc= "sum",
                       margins= True,
                       margins_name= "Total")

pivot

Region   North  South  Total
Fruit
Apples     NaN  10.55  10.55
Bananas   31.3   5.90  37.20
Oranges   25.4  22.00  47.40
Total     56.7  38.45  95.15

### Plotagem

#### Matplotlib

In [250]:
data = pd.DataFrame(data= np.random.rand(4, 4) * 100000,
                    index= ["Q1", "Q2", "Q3", "Q4"],
                    columns= ["East", "West", "North", "South"])

data.index.name = "Quarters"
data.columns.name = "Region"
data

Region            East          West         North         South
Quarters
Q1        73035.383247   3497.419862  50488.635462   9774.764491
Q2        14062.966884  22816.310329   2201.964963  23867.287009
Q3        46408.164525   1166.390143  80431.732402  91772.507452
Q4        57493.430128  61095.724257  42364.738018  19087.472148

In [251]:
data.plot()

#### Plotly

In [252]:
pd.options.plotting.backend = "plotly"
data.plot()

In [253]:
# Exibe os mesmos dados como gráfico de barras verticais
data.plot.bar(barmode= "group")

In [254]:
# Gráficos de barras na horizontal
data.plot.barh(barmode= "group")

In [255]:
# Histograma
data.plot.hist()

In [256]:
# Gráfico de caixa
data.plot.box()

### Importando e Exportando DataFrames

#### Exportando Arquivos CSV

In [257]:
msft = pd.read_csv("C:/Users/alber/OneDrive/Documentos/ESTUDOS/PYTHON PARA EXCEL/5.Analise de Dados com pandas/MSFT.csv")

In [258]:
msft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8622 entries, 0 to 8621
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       8622 non-null   object
 1   Open       8622 non-null   float64
 2   High       8622 non-null   float64
 3   Low        8622 non-null   float64
 4   Close      8622 non-null   float64
 5   Adj Close  8622 non-null   float64
 6   Volume     8622 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 471.6+ KB

In [259]:
msft.loc[:, ["Date", "Adj Close", "Volume"]].head()

         Date  Adj Close      Volume
0  1986-03-13   0.062205  1031788800
1  1986-03-14   0.064427   308160000
2  1986-03-17   0.065537   133171200
3  1986-03-18   0.063871    67766400
4  1986-03-19   0.062760    47894400

In [260]:
msft.head()

         Date      Open      High       Low     Close  Adj Close      Volume
0  1986-03-13  0.088542  0.101563  0.088542  0.097222   0.062205  1031788800
1  1986-03-14  0.097222  0.102431  0.097222  0.100694   0.064427   308160000
2  1986-03-17  0.100694  0.103299  0.100694  0.102431   0.065537   133171200
3  1986-03-18  0.102431  0.103299  0.098958  0.099826   0.063871    67766400
4  1986-03-19  0.099826  0.100694  0.097222  0.098090   0.062760    47894400

In [261]:
msft.tail(2)

,Date,Open,High,Low,Close,Adj Close,Volume
8620,2020-05-26,186.339996,186.500000,181.100006,181.570007,181.570007,36073600
8621,2020-05-27,180.199997,181.990005,176.600006,181.809998,181.809998,39492600

In [262]:
msft.describe()

,Open,High,Low,Close,Adj Close,Volume
count,8622.000000,8622.000000,8622.000000,8622.000000,8622.000000,8.622000e+03
mean,29.802759,30.125323,29.473685,29.808132,24.921952,6.030722e+07
std,32.131286,32.443821,31.787810,32.135047,31.838096,3.877805e+07
min,0.088542,0.092014,0.088542,0.090278,0.057762,2.304000e+06
25%,3.523438,3.572266,3.486328,3.512695,2.247503,3.651632e+07
50%,26.304999,26.625000,26.000000,26.298437,18.454313,5.350380e+07
75%,34.728749,35.128751,34.250000,34.703752,25.699224,7.397560e+07
max,190.649994,190.699997,186.470001,188.699997,187.663330,1.031789e+09

In [263]:
url = "https://github.com/fzumstein/python-for-excel/blob/1st-edition/csv/MSFT.csv"

In [273]:
msft = pd.read_csv(url, on_bad_lines= "skip")
msft.head(2)

  <!DOCTYPE html>
0           <html
1       lang="en"